.form__fieldset {
  border: none;
  padding: 30px;
}

.form__paragraph {
  color: hsl(223, 84%, 24%);
  font-weight:bolder;
  font-size: 30px;
  padding: 10px;
  text-align: center;
  border-radius: 20px;
}

.form__button {
  background-color: hsl(223, 84%, 24%);
  display: block;
  color: ivory;
  padding: 10px;
  border: none;
  border-radius: 20px;
  margin: auto;
  width: 80%;
  margin-top: 50px;
  box-shadow: 5px 5px 4px #ccc;
}

.form__button:hover {
  background-color: hsl(223, 84%, 20%);
}
.form__button:active {
  background-color: hsl(223, 84%, 30%);
}
.form__text {
  color: hsl(223, 84%, 24%);
  display: inline-block;
  font-weight: bold;
  line-height: 2;
}
.form__hint {
  font-size: smaller;
  color: rgb(111, 111, 111);
}

.form__input {
  border: 1px solid #ddd;
  padding: 10px;
  width: 100%;
  border-radius: 20px;
  margin-top: 10px;
}

.form__input:required {
  border-color: hsl(223, 84%, 24%);
  border: 1px solid hsl(223, 84%, 30%);
}

.paragraph {
  color: hsl(223, 84%, 24%);
  padding-top: 10px;
  font-size: larger;
  text-align: center;
}

.paragraph__result {
  color: hsl(223, 84%, 24%);
  font-weight: bold;
 
}
